body{
  overflow-x: hidden;
}

#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:2rem;
	line-height:1.2;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
}
.navbar-brand b {
	display:block;
	font-size:50%;
	line-height:1;
}
.navbar{
  background-color: rgb(26, 26, 26);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
  overflow: hidden;
  box-shadow: .5px 2px 1px rgb(10, 10, 10);
}
.navbar-nav {
  margin-left:auto;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-shadow: 2px 2px 2px #0000006c;
  }
  
.fixed-bg {
    /* background-image: url("../img/wallpaper.png"); */
    /* background-attachment: fixed;
    min-height: 650px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  /* Homescreen opening text start */
  .headline {
    color: white; 
    padding: top 550px;  
    font-family: 'League Spartan Bold', arial; 
    line-height: 130%; 
    font-size: 250%;
    font-weight: bolder;
  }
  

  @media screen and (min-width : 520px) {
    .headline {
      color: white; 
      padding: top 550px;  
      font-family: 'League Spartan Bold', arial; 
      line-height: 110%; 
      font-size: 90px;
      font-weight: bolder;
    }
  }

  @media screen and (min-width : 772px) {
    .headline {
      color: white; 
      padding: top 550px;  
      font-family: 'League Spartan Bold', arial; 
      line-height: 110%; 
      font-size: 90px;
      font-weight: bolder;
    }
    .state{
      width: 370px;
      padding-bottom: 38px;
  
    }
    .penn{
      width: 370px;
      padding-bottom: 38px;
    }
  }
  
  @media screen and (min-width : 1199px) {
    .headline {
      color: white; 
      padding: top 550px;  
      font-family: 'League Spartan Bold', arial; 
      line-height: 110%; 
      font-size: 90px;
      padding-left: 200px;
      padding-right: 200px;
      font-weight: bolder;
    }
  }

    /* Homescreen opening text end */

  .state{
    width: 280px;
    padding-bottom: 38px;

  }
  .penn{
    width: 280px;
    padding-bottom: 38px;
  }
  .img-container{
    position: fixed;
    top: 0;
    left: 0;
  }
  .bg-img{
    min-width: 100vw;
    height: 100vh;
  }
  .icons {
    height: 5%;
    max-width: 80%;
    padding-bottom: 50px;
  }

  .portfolio-bg {
    background-image: url("../img/wallpaper.png");
    min-height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact-info .fa {
    padding-right: 5px;
  }
  
  #contact .form-control {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  
  #contact .form-control:focus {
    border-bottom-color: #999999;
  }
  
  #contact input {
    height: 55px;
  }

  #contact button#submit {
    background: #2b2b2b;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 50px;
    min-width: 150px;
    color: #ffffff;
    margin-top: 24px;
  }
  
  #contact button#submit:hover {
    background: #07c2fc;
    color: #ffffff;
  }
  
  #button button#submit {
    background: #2b2b2b;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 50px;
    max-width: 150px;
    color: #ffffff;
    margin-top: 24px;
  }
  
  #button button#submit:hover {
    background: #07c2fc;
    color: #ffffff;
  }
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  section {
      padding: 60px 0;
  }
  
  section .section-title {
      text-align: center;
      /* color: #1b1b1b; */
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  #footer {
      background: #161616 !important;
  }
  #footer h5{
      padding-left: 2px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      color:#5874cf;
  }
  #footer a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
 
  #footer ul.quick-links li{
      padding: 3px 0;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
  }
  #footer ul.quick-links li:hover{
      padding: 3px 0;
      margin-left:5px;
      font-weight:700;
  }
  #footer ul.quick-links li a i{
      margin-right: 5px;
  }
  #footer ul.quick-links li:hover a i {
      font-weight: 700;
  }
  
  @media (max-width:767px){
      #footer h5 {
      padding-left: 0;
      padding-bottom: 0px;
      margin-bottom: 10px;
      }
      body{
        overflow-x: hidden;
      }
  }
  }

.firstGroup{
    margin-top: 50px;
}
.iphone1{
    height: 400px;
    width: auto;
    margin-bottom: 50px;
}
.animated {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
}
.animatedMac {
background-repeat: no-repeat;
background-position: left top;
-webkit-animation-duration: 25s;
animation-duration: 25s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;

}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  

}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
         
