#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:2rem;
	line-height:1.2;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
}
.navbar-brand b {
	display:block;
	font-size:50%;
	line-height:1;
}
.navbar{
  background-color: rgb(26, 26, 26);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
  overflow: hidden;
  box-shadow: .5px 2px 1px rgb(10, 10, 10);
}
.navbar-nav {
  margin-left:auto;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-shadow: 2px 2px 2px #0000006c;
  }
  
.fixed-bg {
    background-image: url("../img/wallpaper-1.png");
    min-height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fixed-bg-1 {
    background-image: url("../img/education-desktop.png");
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fixed-bg-2 {
    background-image: url("../img/Wallpaper.png");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .portfolio-bg {
    background-image: url("../img/Wallpaper.png");
    min-height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact-info .fa {
    padding-right: 5px;
  }
  
  #contact .form-control {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  
  #contact .form-control:focus {
    border-bottom-color: #999999;
  }
  
  #contact input {
    height: 55px;
  }
  
  #contact button#submit {
    background: #2b2b2b;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 50px;
    min-width: 150px;
    color: #ffffff;
    margin-top: 24px;
  }
  
  #contact button#submit:hover {
    background: #07c2fc;
    color: #ffffff;
  }
  
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  section {
      padding: 60px 0;
  }
  
  section .section-title {
      text-align: center;
      color: #1b1b1b;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  #footer {
      background: #161616 !important;
  }
  #footer h5{
      padding-left: 2px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      color:#5874cf;
  }
  #footer a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
 
  #footer ul.quick-links li{
      padding: 3px 0;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
  }
  #footer ul.quick-links li:hover{
      padding: 3px 0;
      margin-left:5px;
      font-weight:700;
  }
  #footer ul.quick-links li a i{
      margin-right: 5px;
  }
  #footer ul.quick-links li:hover a i {
      font-weight: 700;
  }
  
  @media (max-width:767px){
      #footer h5 {
      padding-left: 0;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }

  .text1{
      margin-top: 100px;
  }
  
  .text2{
    margin-top: 50px;
  }

.firstGroup{
    margin-top: 50px;
}
.iphone1{
    height: 400px;
    width: auto;
    padding-bottom: 50px;
}

.macbook{
    height: 400px;
    width: auto;
    padding-bottom: 50px;
}


@media (min-width:1200px){
    .textOne{
      margin-left:250px;
    }
    .fixed-bg {
        background-image: url("../img/wide-desktop.png");
        min-height: 950px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .fixed-bg-1 {
        background-image: url("../img/education-desktop.png");
        min-height: 950px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
}
@media (max-width:995px){
    .fixed-bg {
        background-image: url("../img/bg1-mobile.png");
        min-height: 950px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .fixed-bg-1 {
        background-image: url("../img/education-ipad.png");
        min-height: 950px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .macbook{
        height: 300px;
        width: auto;
        padding-bottom: 50px;
    }
      .text1{
        margin-top: 3px;
        margin-bottom: 50px
    }
    }

    @media (max-width:550px){  
        .fixed-bg-1 {
        background-image: url("../img/education-small.png");
        min-height: 950px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .macbook{
        height: 220px;
        width: auto;
        padding-bottom: 50px;
        position:relative;
        justify-content: center;
    }
    }
         .animated {
            background-image: url(/css/images/logo.png);
            background-repeat: no-repeat;
            background-position: left top;
            /* padding-top:95px; */
            /* margin-bottom:60px; */
            -webkit-animation-duration: 17s;
            animation-duration: 17s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            
         }
         .animatedMac {
          background-image: url(/css/images/logo.png);
          background-repeat: no-repeat;
          background-position: left top;
          /* padding-top:95px; */
          /* margin-bottom:60px; */
          -webkit-animation-duration: 25s;
          animation-duration: 25s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          
       }
         
         @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
            
            
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }

         @media screen and (max-width:768px){

          .fixed-bg .fixed-bg-1 .fixed-bg-2 .portfolio-bg {
            max-width: 768px;}
          
          }